@using Coursmanager.Models
@using Coursemanager.Models
@{ 
    var site = (WebsiteInfo)ViewBag.Site;
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink(WebsiteInfo.SiteName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @foreach(var link in site.ActionLinks)
                {
                    <li>@Html.ActionLink(link.Name,link.Action,link.Controller)</li>
                }
            </ul>
        </div>
    </div>
</div>
